<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remaining"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li>
        <label class="TodoItem">
          <%= form_with(url: "todos/#{todo.id}", method: "PUT") do %>
            <input class="TodoCheckbox" name="completed" type="checkbox" <%= todo.completed ? "checked" : "" %> onclick="this.form.submit()" >
          <% end %>
          <p class="TodoText" style='<%= todo.completed ? " text-decoration: line-through; " : "" %>' ><%= todo.todo_text %></p>
          <% if show_duedate == true %>
            <p class="DateText"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          <a href="javascript:void(0)" class="TodoItem-delete">
            <%= form_with(url: "todos/#{todo.id}", method: "delete") do %>
              <input type="image" src="delete.jpg" height=16px width=13px>
            <% end %>
          </a>
        </label>
      </li>
    <% end %>
  </ul>
</section>
