<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"><%= section_title %></p>
    <p class="TodoSectionTitle-remaining"><%= todos.completed.count %>/<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <% if section_title == "Overdue" and todo.completed == true %>
      <% else %>
        <li class="TodoItem">
          <label class="TodoItem">
            <% if todo.completed == false %>
              <input class="TodoCheckbox" type="checkbox">
              <p class="TodoText"><%= todo.todo_text %></p>
              <% if section_title != "Due Today" %>
                <p class="DateText"><%= todo.due_date.to_s(:short) %></p>
              <% end %>
            <% else %>
              <input class="TodoCheckbox" type="checkbox" checked>
              <p class="TodoText" style=" text-decoration: line-through; "><%= todo.todo_text %></p>
              <% if section_title != "Due Today" %>
                <p class="DateText"><%= todo.due_date.to_s(:short) %></p>
              <% end %>
            <% end %>
          </label>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
